@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

:root {
    --main-bg: #0e0f14;
    --grid-cell-bg: #FFF;
    --gitlab-theme: #FC6D27;
    --gitlab-text-color: #90b302;
    --gitlab-bg-color: #0a0f0b;
    --project-bg: #FFF;
}

* {
    font-family: 'Modern Antiqua', sans-serif;
}

.hidden {
    visibility: none !important;
    display: none !important;
}

body {
    background-color: var(--main-bg);
}

main div:first-child {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-grid,
#projects-controls,
.project
 {
    width: 750px;
    margin: 0 auto;
}

#main-grid {
    height: 750px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

#main-grid article,
.project {
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 2px 3px 5px var(--grid-cell-bg);
    background-color: var(--grid-cell-bg);
}

#main-grid article {
    padding: 1em;
    align-items: center;
}

h1,
h2 {
    font-weight: 700;
    font-size: 2rem;
    padding: 0.5em 0;
}

#intro {
    grid-column: 1/3;
    grid-row: 1/2;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#intro img {
    grid-column: 1/2;
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
}

#intro div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

#path {
    grid-column: 3/4;
    grid-row: 1/3;
}

#path img {
    width: 100px;
}

#gitlab {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gitlab a {
    font-size: 11rem;
    color: #000;
    transition: color 0.5s ease-in-out;
}

#gitlab a:hover {
    color: var(--gitlab-theme);
}

#tools {
    grid-column: 1/2;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#tools h2,
#path h2 {
    grid-row: 1/2;
    text-align: center;
}

#tools ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
}

#tools ul,
#path ul {
    grid-row: 2/3;
    margin-top: 1rem;
}

#tools ul li,
#path ul li {
    display: flex;
    justify-content: center;
}

#tools ul li+li,
#path ul li+li {
    padding-top: 0.25rem;
}

#tools img {
    width: 75px;
}

#stack {
    grid-column: 2/4;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#stack h2 {
    grid-row: 1/2;
}

#stack ul {
    grid-column: 2/3;
    display: flex;
    align-items: center;
}

#stack div ul img {
    height: 50px;
    padding: 0 0.5rem;
}

#projects {
    padding-bottom: 2rem;
}

#projects h3 {
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-size: 3rem;
    color: var(--gitlab-text-color);
    font-weight: 700;
}

#projects button {
    box-sizing: border-box;
    background-color: var(--grid-cell-bg);
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--gitlab-bg-color);
    color: var(--gitlab-text-color);
    border: 1px solid var(--gitlab-text-color);
    border-radius: 8px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
}

#projects button:hover {
    cursor: pointer;
}

#projects button:hover,
.projects-btn-active {
    background-color: var(--gitlab-text-color) !important;
    color: var(--gitlab-bg-color) !important;
    border: 1px solid var(--gitlab-bg-color) !important;
}

#projects-controls {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    gap: 25px;
}

#projects article+article{
    margin-top: 2rem;
}

.project,
.project-reverse {
    background-color: var(--project-bg);
    height: 350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.project img,
.project-reverse img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project img{
    grid-column: 1/2;
}

.project-reverse img{
    grid-column: 2/3;
    grid-row: 1/3;
}

.project .project-description,
.project-reverse .project-description {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    padding: 0 1rem;
}

.project .project-description {
    grid-column: 2/3;
}

.project-reverse .project-description {
    grid-column: 1/2;
    grid-row: 1/3;
}

.project h4 {
    grid-row: 1/2;
    color: var(--gitlab-text-color);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.project div+div {
    grid-row: 2/3;
}

.project-description p {
    text-align: justify;
}

.project aside {
    grid-row: 3/4;
    text-align: right;
    font-size: 1.5rem;
}

.project aside i {
    color: var(--gitlab-text-color);
}

.project aside i:hover {
    color: var(--gitlab-bg-color);
}

@media only screen and (max-width: 1200px) {
    #projects h3 {
        margin: 3rem 0 2rem 0;
    }
}

@media only screen and (max-width: 992px) {

    #main-grid,
    #projects-controls,
    .project {
        width: 700px;
    }

    #main-grid {
        height: 700px;
        gap: 20px;
    }
}

@media only screen and (max-width: 768px) {

    #main-grid,
    #projects-controls,
    .project {
        width: 550px;
    }

    #main-grid {
        height: 550px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    h1,
    h2 {
        text-align: center;
    }

    #path {
        visibility: none;
        display: none;
    }

    #intro {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    #tools {
        grid-row: 3/4;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
    }

    #tools ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    #tools ul li {
        display: inline-block;
    }

    #tools ul li+li {
        padding-top: 0;
    }

    #tools img {
        width: 40px;
    }

    #gitlab {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #gitlab a {
        font-size: 8rem;
    }

    #stack {
        grid-row: 2/3;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }

    #stack div {
        width: 100%;
    }

    #stack div ul {
        justify-content: space-around;
    }

    #stack div ul img {
        height: 35px;
        padding: 0;
    }
}


@media only screen and (max-width: 600px) {

    #main-grid,
    #projects-controls,
    .project{
        width: 325px;
    }

    #main-grid {
        height: 425px;
    }

    h1,
    h2 {
        text-align: center;
        padding: 0.25em 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    #intro div {
        font-size: 0.8rem;
        text-align: center;
    }

    #gitlab a {
        font-size: 5rem;
    }


    #stack div ul img {
        height: 30px;
        border-radius: 25%;
    }

    #projects h3 {
        font-size: 2.5rem;
        margin: 1rem 0 2rem 0;
    }

    #projects button {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .project {
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr;
    }

    .project img,
    .project-reverse img {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .project .project-description,
    .project-reverse .project-description {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .project h4 {
        font-size: 1.25rem;
    }

    .project-description p {
        text-align: justify;
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 325px) {

    #main-grid,
    #projects-controls,
    #projects h3,
    .project{
        width: 325px;
    }
}