.about{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    gap: 20px;
}

.map{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.contact{
    height: 40%;
    padding: 15px;
    background-color: #F7F5C8;
    font-family: "Itim", sans-serif;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
}

.contact::-webkit-scrollbar{
    width: 0px;
}

.contact>p{
    font-weight: bold;
    margin-bottom: 10px;
}

.contact div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.contact div p{
    display: flex;
    gap: 5px;
}


/* Desktop screens */
@media (min-width: 992px) and (max-width: 1199px) {
    .map{
        height: 200px;
    }

    .contact>p{
        margin-bottom: 7.5px;
        font-size: 0.95rem;
    }

    .contact div p{
        font-size: 0.9rem;
    }
}