.logo {
  background-image: url("../assets/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
  height: 200px;
  width: 200px;
  position: relative;
  top: -75px;
  margin: 0 auto;
  border-radius: 50%;
}

.intro {
  position: relative;
  top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.intro p,
.footer-intro {
  font-family: "Itim", sans-serif;
  color: #f7f5c8;
  font-style: italic;
}

.intro p {
  font-size: 1.5rem;
}

.footer-intro {
  margin-top: 75px;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .logo {
    opacity: 0.95;
    height: 150px;
    width: 150px;
    top: -50px;
  }
  
  .intro {
    top: -20px;
    gap: 20px;
  }
  
  .intro p {
    font-size: 1.25rem;
  }
  
  .footer-intro {
    margin-top: 50px;
    font-size: 1.1rem;
  }
}

/* SLandscape tablets and small desktop screens */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Portrait tablets and large phones */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Mobile phones */
@media (max-width: 575px) {
  
}