.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  padding: 20px;
  gap: 15px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

.menu::-webkit-scrollbar {
  width: 0px;
}

.menu-item {
  width: 225px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  background-color: #f7f5c8;
  padding: 5px 15px;
  box-sizing: border-box;
  font-family: "DancingScript", sans-serif;
  font-weight: 700;
}

.menu-item img {
  border-radius: 50%;
  width: 150px;
}

.menu-item p:first-of-type {
  font-size: 1.5rem;
}

.menu-item p:nth-child(2) {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

.menu-item p:nth-child(3) {
    font-size: 0.9rem;
  }

/* Large desktop screens */
@media (max-width: 1280px) {
  .menu-item {
    gap: 10px;
    width: 170px;
    height: 275px;
  }

  .menu-item img {
    width: 135px;
  }
  
  .menu-item p:first-of-type {
    font-size: 1.35rem;
  }
  
  .menu-item p:nth-child(2) {
    margin-top: 8px;
    margin-bottom: 12.5px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .menu-item {
        width: 150px;
        height: 250px;
        gap: 10px;
      }

      .menu-item img {
        width: 100px;
      }
      
      .menu-item p:first-of-type {
        font-size: 1.25rem;
      }
      
      .menu-item p:nth-child(2) {
        margin-top: 6.5px;
        margin-bottom: 10px;
      }
}
