/* Global styles */

@font-face {
  font-family: "Itim";
  src: url("../assets/fonts/Itim-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DancingScript";
  src: url("../assets/fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 150px;
}

header,
footer,
.navbar-btn {
  background-color: #232323;
}

header div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1rem;
}

.title {
  font-size: 3.5rem;
}

.title,
.navbar-btn {
  color: #fffdd0;
  font-family: "Itim", sans-serif;
}

.navbar-btn.active {
  color: #850101;
  text-shadow: 1px 1px 2px #850101;
}

button.active:hover {
  border-color: transparent;
}

header div nav {
  position: relative;
  top: 1rem;
  display: flex;
  gap: 10px;
}

.navbar-btn {
  background-color: #232323;
  color: #f7f5c8;
  outline: none;
  border: 1px solid transparent;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 8px;
}

.navbar-btn:hover {
  border: 1px solid #f7f5c8;
}

main {
  /* Calculated by subtracting the header and footer's heights. */
  min-height: calc(100% - 225px);
  display: flex;
  align-items: center;
  justify-content: center;
}

main section {
  background-color: #232323;
  opacity: 0.95;
  height: 500px;
  width: 500px;
}

footer {
  height: 75px;
}

footer div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

footer div p,
footer div a {
  font-family: "Itim", sans-serif;
  font-style: italic;
}

footer div p {
  color: #f7f5c8;
}

footer div a {
  color: #edc101;
}

footer div a:hover {
  color: #850101;
}

/* Large desktop screens */
@media (max-width: 1280px) {
  header {
    height: 135px;
  }
  
  header div {
    top: 0.85rem;
  }
  
  .title {
    font-size: 3rem;
  }
  
  header div nav {
    top: 0.85rem;
    gap: 8px;
  }
  
  .navbar-btn {
    font-size: 1.5rem;
    padding: 0.85rem;
  }
  
  main {
    /* Calculated by subtracting the header and footer's heights. */
    min-height: calc(100% - 205px);
  }
  
  main section {
    height: 400px;
    width: 400px;
  }
  
  footer {
    height: 70px;
  }
}

/* Desktop screens */
@media (min-width: 992px) and (max-width: 1199px) {
  header {
    height: 105px;
  }
  
  header div {
    top: 0.50rem;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  header div nav {
    top: 0.65rem;
  }
  
  .navbar-btn {
    font-size: 1.25rem;
    padding: 0.85rem;
  }
  
  main {
    /* Calculated by subtracting the header and footer's heights. */
    min-height: calc(100% - 155px);
  }
  
  main section {
    height: 350px;
    width: 350px;
  }
  
  footer {
    height: 50px;
  }
}

/* SLandscape tablets and small desktop screens */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Portrait tablets and large phones */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Mobile phones */
@media (max-width: 575px) {
  
}