@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --main-bg: #F0F0F0;
    --main-header: #4F709C;
    --card-bg: #213555;
    --card-header: #F0F0F0;
    --link: #FF9B50;
}

body{
    background-color: var(--main-bg);
}

#page-header{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 3em;
    color: var(--main-header);
}

#cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.recipe-card{
    list-style: none;
    background-color: var(--card-bg);
    width: 325px;
    height: 325px;
    margin-bottom: 2em;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.recipe-card-image{
    height: 80%;
    overflow: hidden;
}

.recipe-card-image img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.recipe-card-image img {
    transition: transform 0.5s ease;
}
  
.recipe-card-image:hover img {
    transform: scale(1.1);
}

.recipe-card-name{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-card-name a{
    font-size: 1.3em;
    font-family: 'Pacifico', cursive;;
    color: var(--card-header);
    text-decoration: none;
}

.recipe-card-name a:hover{
    cursor: pointer;
    color: var(--link);
}

footer{
    text-align: center;
    margin-bottom: 2em;
}

footer a{
    text-decoration: none;
    font-size: 1.5em;
    color: var(--main-header);
}

footer a:hover{
    color: var(--link);
}
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    #page-header{
        font-size: 4.5em;
    }

    .recipe-card{
        width: 400px;
        height: 400px;
        margin-bottom: 2em;
    }

    .recipe-card-name a{
        font-size: 1.8em;
    }
    
    footer{
        margin-bottom: 1.5em;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    #page-header{
        font-size: 5em;
    }

    #cards{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recipe-card{
        margin-right: 1em;
        margin-left: 1em;
    }
    
    footer{
        margin-bottom: 0;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    #page-header{
        font-size: 6em;
    }

    .recipe-card{
        width: 350px;
        height: 350px;
    }

    .recipe-card-name a{
        font-size: 1.5em;
    }
 }