@font-face {
    font-family: "Lisu Bosa";
    src: url('../assets/fonts/LisuBosa-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lisu Bosa', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    cursor: pointer;
}


:root{
    --bg: #0e0f14;
    --main-bg: #2b2d43;
    --text: #FFF;
    --nav-active-bg: #a5a7ac;
    --nav-active-text: #f6f7f6;
    --link-hover: #fb653a /*#A855F7*/;
    --btn-bg: #fb653a;
    --card-bg: #717e9d;
}

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 1em;
    background-color: var(--bg);
}

main {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    border: 1px solid rgba(221, 214, 254, 1);
    background: var(--main-bg);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    gap: 25px;
}

main nav{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 3fr;
    align-items: center;
    color: var(--text);
}

main nav i{
    margin-right: 1em;
    background-color: transparent !important;
}

main nav i,
main nav span{
    background-color: transparent !important;
}

main nav div h1,
#nav-list li,
#settings-list li{
    padding-left: 2rem;
}

main nav div h1{
    font-size: 2rem;
}

#nav-list{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#settings-list{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

main nav ul li{
    padding: 0.5em 0;
    font-size: 1.5em;
    opacity: 0.7;
}

main nav ul li:hover{
    color: var(--nav-active-text);
    background-color: var(--nav-active-bg);
    opacity: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-active{
    color: var(--nav-active-text);
    background-color: var(--card-bg);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 1;
}

.nav-active:hover{
    color: var(--nav-active-text) !important;
    background-color: var(--card-bg) !important;
    opacity: 1 !important;
}

#credits{
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    margin-top: auto;
    margin-bottom: 1em;
    font-size: 1.2em;
}

#credits a:hover{
    color: var(--link-hover);
}

#top{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0.5em 1em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center; 
}

#searchbar{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 32px;
    color: #000;
    background-color: var(--nav-active-text);
    padding: 0.5em 1em;
    width: 90%;
}

#searchbar input{
    height: 2rem;
    background-color: transparent;
    width: 100%;
    padding-left: 1em;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
}

#profile{
    height: 3.3rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

#profile img,
#controls button{
    margin-right: 1em;
}

#profile img{
    height: 3.3rem;
    border-radius: 50%;
}

#profile p{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
    margin: 0 0.5em;
    
}

#greeter{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1.2em;
    color: var(--text);
}

#greeter p span{
    font-size: 2em;
    font-weight: 700;
}

#greeter img{
    margin-right: 1em;
    height: 5em;
    border-radius: 50%;
}

#controls{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#controls button{
    padding: 0.5em 1em;
    border-radius: 32px;
    font-size: 1.2em;
    color: var(--text);
    background-color: var(--btn-bg);
    border: 1px solid var(--text);
    outline: none;
    transition: all 0.3s ease-in-out;
}

#controls button:hover{
    cursor: pointer;
    background-color: var(--text);
    color: var(--btn-bg);
    border-color: var(--btn-bg);
}

#content{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    overflow: auto;
}

#projects{
    grid-row: 1/3;
    padding: 1em;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    overflow: auto;
    max-height: 100%;
}

.card{
    height: 450px;
    background-color: var(--card-bg);
    color: var(--text);
    border-radius: 16px;
    display: grid;
    grid-template-rows: 50px 250px 125px 25px;
    overflow: hidden;
    box-shadow: 0 0 5px #FFF;
}

.card h3{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card p{
    font-size: 1.1em;
    padding: 0 1em;
    margin: auto 0;
    text-align: justify;
}

.card p span{
    font-style: italic;
}

.card div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
}

.card div a{
    margin-right: 0.5em;

}

.card div a{
    transition: all 0.5s ease-in-out;
}

#side-panels{
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 50px;
    overflow: auto;
    color: var(--text);
}

#announcements,
#trending{
    margin-right: 20px;
}

#announcements,
#trending{
    display: grid;
    grid-template-rows: 1fr 10fr;
    gap: 15px;
}

#announcements ul,
#trending ul{
    background-color: var(--card-bg);
    padding: 2em;
    padding-bottom: 1em;
    border-radius: 16px;
}

#announcements h4,
#trending h4{
    color: var(--text);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#announcements h5{
    font-weight: bold;
    font-size: 1.5em;
}

#announcements li p{
    padding: 1em 0;
    font-size: 1.2em;
    text-align: justify;
}

.line{
    display: flex;
    border: 1px solid #CCC;
    margin-bottom: 1em;
}

#trending img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#trending li{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    align-items: center;
    margin-bottom: 1em;
}

#trending p:first-child{
    font-weight: bold;
    font-size: 1.2em;
}

#trending p+p{
    font-size: 1.1em;
}
